@page
@model LIA.Admin.Pages.Products.CreateModel
@{
	ViewData["Title"] = "Create";
}
<h2>Create</h2>
<h4>Product</h4>
<a class="btn btn-primary" asp-page="./Index"><span class="glyphicon glyphicon-info-sign"> </span> Back to list</a>
<a class="btn btn-warning" asp-page="/Index"><span class="glyphicon glyphicon-list-alt"></span> Dashboard</a>

<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Products.Name" class="control-label"></label>
				<input asp-for="Products.Name" class="form-control" />
				<label asp-for="Products.Image" class="control-label"></label>
				<input asp-for="Products.Image" class="form-control" />
				<label asp-for="Products.Price" class="control-label"></label>
				<input asp-for="Products.Price" class="form-control" />
				<label asp-for="Products.Date" class="control-label"></label>
				<input asp-for="Products.Date" class="form-control" />
				<label asp-for="Products.Description" class="control-label"></label>
				<input asp-for="Products.Description" class="form-control" />

				<label asp-for="Products.AuthorId" class="control-label"></label>
				<select asp-for="Products.AuthorId" class="form-control" asp-items="ViewBag.Authors"></select>

				<span asp-validation-for="Products.Name" class="text-danger"></span>
				<span asp-validation-for="Products.Image" class="text-danger"></span>
				<span asp-validation-for="Products.Price" class="text-danger"></span>
				<span asp-validation-for="Products.Date" class="text-danger"></span>
				<span asp-validation-for="Products.Description" class="text-danger"></span>

				<span asp-validation-for="Products.AuthorId" class="text-danger"></span>

			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-success" />
			</div>
		</form>
	</div>
</div>

