@page
@model LIA.Admin.Pages.Products.DeleteModel
@{
	ViewData["Title"] = "Delete";
}
<h2>Delete</h2>
<h3>Are you sure you want to delete this?</h3>
<a class="btn btn-primary" asp-page="./Index"><span class="glyphicon glyphicon-info-sign"> </span> Back to list</a>
<a class="btn btn-success" asp-page="./Edit" asp-route-id="@Model.Product.Id"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
<a class="btn btn-warning" asp-page="/Index"><span class="glyphicon glyphicon-list-alt"></span> Dashboard</a>

<div>
	<h4>Product</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Product.Name)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Product.Name)
		</dd>
	</dl>
	<form method="post">
		<input type="hidden" asp-for="Product.Id" />
		<input type="hidden" asp-for="Product.AuthorId" />
		<input type="submit" value="Delete" class="btn btn-danger" />
	</form>
</div>
