@using LIA2Version3.Data.Entities
@using LIA.UI.Models.Membership

@model DashboardViewModel

@{
	ViewData["Title"] = "Index";
}

<h2>Index</h2>

		@foreach (var products in Model.Products)
		{
			<div class="row">
			@foreach (var product in products)
			{
			<div class="panel col-sm-4">
				<img class="image" src="@product.Image">
				<div class="panel-body">
					<div>@product.Name</div>
					<div>@product.Description</div>
				</div>
			</div>
			}
			</div>
		}




