@using LIA2Version3.Data.Entities
@using LIA.UI.Models.Membership

@model DashboardViewModel

@{
	ViewData["Title"] = "Index";
}

<h2>Dashboard</h2>

		@foreach (var products in Model.Products)
		{
			<div class="row">
			@foreach (var product in products)
			{
				<div class="list-group col-sm-4">
					<div class="aroundwborder">
					<img class="image" src="@product.Image">
						<h4 class="list-group-item-heading list-group-item active">@product.Name</h4>
						<p class="list-group-item-text">@product.Description</p>
						@*<div class="button-dashboard">*@
						<div class="button-dashboard">
							<a class="btn btn-primary button-dashboard" asp-controller="Membership" asp-action="Product" asp-route-productId="@product.Id">
								To Product
								</a>
						@*</div>*@
						
					</div>
					</div>
					</div>
			}
			</div>
		}





