@using LIA2Version3.Data.Entities

@model Item

@{
	ViewData["Title"] = "Item";
}

<h2>Video</h2>

@if (Model.Link != null)
{
	<div id="hiddenUrl" hidden="hidden">@Model.Link</div>
	<video id="video" class="video-js vsj-default-skin vjs-big-play-centered vjs-16-9" controls preload="auto"> </video>
}

	@section scripts
		{
		<script type="text/javascript">
			$(function () {
				
				videoJS($("#hiddenUrl").text());
			});
		</script>
	}