@using LIA2Version3.Data.Entities
@using LIA.UI.Models.Membership

@model ProductViewModel

@{
	ViewData["Title"] = "Product";
}

<h2>Product</h2>

<div class="panel">
	<img class="image" src="@Model.Product.Image">
</div>
