@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{

	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li><a href="/Items">Items</a></li>
			<li><a href="/ItemTypes">Item Types</a></li>
			<li><a href="/ListItems">List Items</a></li>
			<li><a href="/Products">Products</a></li>
			<li><a href="/Users">Users</a></li>
			<li><a href="/UserProducts">User Products</a></li>
		</ul>
	</li>
}
