@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="runt">
	<div class="tile tile1">
		<div class="totheleft number"><a href="./Items">Number</a></div>
		<div class="totheleft"><a href="./Items">Items</a></div>
		<div class="totheright"><span class="glyphicon glyphicon-film"></span></div>
	</div>
		<div class="tile tile2">
			<a href="./ItemTypes">ItemTypes</a>
		</div>
		<div class="tile tile3">
			<a href="./ListItems">ListItems</a>
		</div>
		<div class="tile tile4">
			<a href="./Products">Products</a>
		</div>
		<div class="tile tile5">
			<a href="./UserProducts">UserProducts</a>
		</div>
	</div>


