@page
@model IndexModel

@{
	ViewData["Title"] = "Home page";
}
<div class="runt">
	<div class="tile tile1">
		<div class="totheleft number"><a href="./Items"></a></div>
		<div class="totheleft"><a href="./Items">Items</a></div>
		<div class="totheright"><span class="glyphicon glyphicon-film"></span></div>
	</div>
	<div class="tile tile2">
		<div class="totheleft number"><a href="./ItemTypes">Number</a></div>
		<div class="totheleft"><a href="./ItemTypes">ItemTypes</a></div>
		<div class="totheright"><span class="glyphicon glyphicon-tags"></span></div>
	</div>
	<div class="tile tile3">
		<div class="totheleft number"><a href="./ListItems">Number</a></div>
		<div class="totheleft"><a href="./ListItems">ListItems</a></div>
		<div class="totheright"><span class="glyphicon glyphicon-list"></span></div>
	</div>
	<div class="tile tile4">
		<div class="totheleft number"><a href="./Products"></a></div>
		<div class="totheleft"><a href="./Products">Products</a></div>
		<div class="totheright"><span class="glyphicon glyphicon-folder-open"></span></div>
	</div>
	<div class="tile tile5">
		<div class="totheleft number"><a href="./UserProducts">Number</a></div>
		<div class="totheleft"><a href="./UserProducts">UserProducts</a></div>
		<div class="totheright"><span class="glyphicon glyphicon-blackboard"></span></div>
	</div>
</div>






