@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div>
<a href="./Items">Items</a>
					</br>
<a href="./ItemTypes">ItemTypes</a>
					</br>
<a href="./ListItems">ListItems</a>
					</br>
<a href="./Products">Products</a>
					</br>
<a href="./UserProducts">UserProducts</a>
	</div>


