@page
@model LIA.Admin.Pages.Items.CreateModel

@{
	ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Item</h4>

<a class="btn btn-primary" asp-page="./Index"><span class="glyphicon glyphicon-info-sign"> </span> Back to list</a>
	<a class="btn btn-warning" asp-page="/Index"><span class="glyphicon glyphicon-list-alt"></span> Dashboard</a>
<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Items.Name" class="control-label"></label>
				<input asp-for="Items.Name" class="form-control" />

				<label asp-for="Items.Description" class="control-label"></label>
				<input asp-for="Items.Description" class="form-control" />

				<label asp-for="Items.Link" class="control-label"></label>
				<input asp-for="Items.Link" class="form-control" />
				</div>

			<div class="form-group">
				<label asp-for="Items.ItemTypeId" class="control-label"></label>
				<select asp-for="Items.ItemTypeId" class="form-control" asp-items="ViewBag.ItemTypes"></select>

				<label asp-for="Items.ListItemId" class="control-label"></label>
				<select asp-for="Items.ListItemId" class="form-control" asp-items="ViewBag.ListItems"></select>

				<span asp-validation-for="Items.ItemTypeId" class="text-danger"></span>
				<span asp-validation-for="Items.Description" class="text-danger"></span>
				<span asp-validation-for="Items.Name" class="text-danger"></span>
				<span asp-validation-for="Items.Link" class="text-danger"></span>
				<span asp-validation-for="Items.ListItemId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-success" />
			</div>
		</form>
	</div>
</div>


