body {
	padding-top: 50px;
	padding-bottom: 20px;
}

span {
	margin: auto;
}
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


.tile {
	height: 130px;
	width: 250px;
	padding-top: 30px;
	padding-right: 20px;
	font-size: 20px;
	display: inline-block;
	float: left;
	margin: 3px;
}

.tile1 {
	background-color: deepskyblue;

}

.tile2 {
	background-color:red;
}

.tile3 {
	background-color:greenyellow;
}

.tile4 {
	background-color:lawngreen;
}

.tile5 {
	background-color:purple;
}

.runt {
	width: 604px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
}

.totheleft {
	text-align: left;
	float: left;
	padding-left: 40px;
	/*top: 180px;
	position: absolute;*/
}

.totheright {
	text-align: right;
	font-size: 60px;
	/*position: absolute;
	top: 133px;
	left: 535px;*/
	/*float: left;*/
}

.footerthing {
	margin-top: 500px;
}

.number {
	font-size: 30px;
	/*top: 120px;
	position: absolute;*/
}

.glyphicon {
	opacity: 0.3;
	color: gray;
}

/* unvisited link */
a:link {
	color: white;
}

/* visited link */
a:visited {
	color: white;
}

/* mouse over link */
a:hover {
	color: white;
}

/* selected link */
a:active {
	color: white;
}
